<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659768454788-e4qlpa0pnt0cu34e1ldjp0de2q7hct74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659768454788-e4qlpa0pnt0cu34e1ldjp0de2q7hct74</string>
	<key>API_KEY</key>
	<string>AIzaSyA6mIeBtL5ZRBBAZoUmpSNl7XLkApp_-tI</string>
	<key>GCM_SENDER_ID</key>
	<string>659768454788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cahuekokeny.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>ioschatapp-1aead</string>
	<key>STORAGE_BUCKET</key>
	<string>ioschatapp-1aead.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659768454788:ios:b2c08066696e0b7f0edcd1</string>
</dict>
</plist>